 {% load static %}
 <!-- ======= Pricing Section ======= -->
 <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        {% for plan in plans %}

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>{{ plan.plan_name }}</h3>
            <h4><sup>$</sup>{{ plan.price }}<span>per month</span></h4>
            <ul class="{% cycle 'row1' 'row2' %}">
              <li><i class="bx bx-check"></i> {{ plan.detail1|safe }}</li>
              <li><i class="bx bx-check"></i> {{ plan.detail2|safe }}</li>
              <li><i class="bx bx-check"></i> {{ plan.detail3|safe }}</li>
              <li><i class="bx bx-check"></i> {{ plan.detail4|safe }}</li>
              <li><i class="bx bx-check"></i> {{ plan.detail5|safe }}</li>
            </ul>
            <a href="#" class="buy-btn">Get Started</a>
          </div>
        </div>
          {% endfor %}



      </div>

    </div>
    

  </section><!-- End Pricing Section -->
