<nav class="nav-menu d-none d-lg-block">
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'services' %}">Services</a></li>
      <li><a href="{% url 'team'%}">Team</a></li>
      <li class="drop-down"><a href="">Drop Down</a>
        <ul>
          <li><a href="#">Drop Down 1</a></li>
          <li class="drop-down"><a href="#">Deep Drop Down</a>
            <ul>
              <li><a href="#">Deep Drop Down 1</a></li>
            </ul>
          </li>
          <li><a href="#">Drop Down 2</a></li>
        </ul>
      </li>
      <li><a href="{% url 'contact' %}">Contact</a></li>

    </ul>
  </nav><!-- .nav-menu -->